/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  height: 62px;
  display: flex;
  justify-content: center;
}
.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 1280px;
}
.header_logo{
  font-size: 24px;
  margin-right: 48px;
}
.header_menu{
  display: flex;
}
.menu_nav{

}
.menu_ul{
  display: flex;
}
.menu_li{
  font-weight: 700;
  padding: 4px 18px;
  color: rgb(29, 29, 29);
} 
.menu_li:hover{
  cursor: pointer;
  
} 
.menu_link:hover{
  color: rgb(234, 0, 255);
}
.menu_icon{

}
.icon{

}

/*==================== NAV ====================*/


/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home{
  margin-top: 62px;
  display: flex;justify-content: center;
  align-items: center;
}
.home_container{
 max-width: 1280px;
 display: flex;
 position: relative;
 display: flex;
 align-items: center;
}
.home_socials{
  width: 48px;
  height: auto;
  position: absolute;
  top: 75px;
}
.social_icon{
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
}
.social_icon:hover{
  cursor: pointer;  
}
.social_img{

}
.img{

}
.icon{
  width: 24px;
  height: 24px;
}
.homedesc{
  margin-left: 82px;
}
.homedesc_title{
  font-size: 38px;
  font-weight: 400;
  width: 520px;
  margin-bottom: 0px;
}
.homedesc_subtitle{
  width: 520px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 22px;
}
.homedesc_text{
  width: 520px;
  margin-bottom: 48px;
}
.homedesc_btn_wrap{
  
}
.homedesc_btn{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(11, 30, 117) 0%, rgba(9,9,121,1) 35%, rgb(3, 43, 90) 100%);
  color: white;
  border: none;
  padding: 12px 32px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(9,9,121,1);
  text-shadow: 0  0 2px white;
  display: flex;
  align-items: center;
}
.homedesc_btn:hover{
  cursor: pointer;
}
.button_icon{
  margin-left: 18px;
  width: 14px;
  height: 14px;
}


/*==================== BUTTONS ====================*/

.modal_wrap{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.madal{
  padding: 24px;
  background-color: rgb(210, 235, 235);

}
.modal_constainer{
  min-width: 680px;
}
.madal_header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 6px 0;
}
.modal_header_title{
  font-size: 24px;
  color: rgb(73, 73, 73);
}
.modal_header_btn{
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
}
.modal_content{
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input_wrap{
  width: 100%;
  margin-bottom: 18px;
}
.input_title{
  font-size: 16px;
  font-weight: normal;
}
.input{
  width: 100%;
  padding: 6px 4px;
  border: none;
  border-radius: 2px;
  outline: none;
  color: rgb(102, 102, 102);
}
.modal_footer{
  display: flex;
  border-top: 1px solid grey;
  padding: 24px 0;
}
.modal_footer_text{
  max-width: 680px;
}
.modal_footer_btn{
  padding: 4px 12px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

/*==================== ABOUT ====================*/

.table{
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 1280px;
  margin: 0 auto;
}
.table_container{
  display: flex;
  flex-direction: column;
  width: 1280px;
}
.table_titles{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  border-bottom: 4px solid rgb(226, 211, 211);
  padding: 14px 0;
  padding-left: 48px;

}
.table_title{
  font-size: 16px;
  margin-right: 12px;
}
.orders{
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  max-height: 480px;
  overflow: auto;
}
.order{
  display: flex;
  justify-content: flex-start;
  padding: 28px 0;
  border-bottom: 4px solid rgb(240, 240, 240);
}
.order_chekmark{
  width: 48px;
  display: flex;justify-content: center;
  align-items: center;
}
.chekmark{

}
.order_fam{
width: 220px;
}
.order_elem{
  margin-right: 12px;
}
.order_uslug{
  width: 180px;
}
.order_client{
  width: 180px;
}
.order_time{
  width: 80px;
}
.order_date{
  width: 180px;
}
.order_price{
  width: 180px;
}
.order_del{
  width: 27px;
  height: 27px;
  background-color: rgb(163, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 2px red;
  cursor: pointer;
}

/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */
